# Home Credit Modeling

In [65]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import iqr, randint, uniform
import lightgbm as lgb
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegressionCV
from sklearn.preprocessing import Imputer, StandardScaler, RobustScaler
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV, train_test_split, cross_val_score
from sklearn.metrics import roc_auc_score
from skopt import gp_minimize
from skopt.plots import plot_convergence, plot_objective
import pickle
import gc

%load_ext autotime

gc.enable()
np.random.seed(235)

path = "/Users/dsaxton/home_credit_default/"

The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime
time: 5.06 ms

#### Load the data

In [66]:
df = pd.read_csv(path + "preprocessed_train.csv")

time: 24.8 s

In [67]:
sk_id_curr = df.pop("SK_ID_CURR")
y = df.pop("TARGET")

time: 569 ms

#### Select features

In [68]:
clf = lgb.LGBMClassifier(n_estimators=1000, num_leaves=23, subsample=0.5)
clf.fit(df, y)

lgb_cols = df.columns[clf.feature_importances_ > 0]
len(lgb_cols)

471

time: 1min 39s

In [69]:
var_imp = pd.DataFrame({"Feature": df.columns, "Importance": clf.feature_importances_})[["Feature", "Importance"]].sort_values("Importance", ascending=False)

time: 4.56 ms

#### View important features

In [70]:
var_imp.head(50)

                                               Feature  Importance
31                                        EXT_SOURCE_3         363
30                                        EXT_SOURCE_2         351
336                         AMT_CREDIT_DIV_AMT_ANNUITY         294
372                        EXT_SOURCE_1_DIV_DAYS_BIRTH         219
8                                           DAYS_BIRTH         213
360       DAYS_REGISTRATION_DIV_DAYS_LAST_PHONE_CHANGE         205
11                                     DAYS_ID_PUBLISH         199
9                                        DAYS_EMPLOYED         198
339                                    EXT_SOURCE_PROD         196
330  TOTAL_AMT_CREDIT_SUM_POS_DAYS_DIV_SUM_DAYS_CRE...         181
150                             AVG_PREV_PROP_APPROVED         180
329   TOTAL_AMT_CREDIT_SUM_DIV_SUM_DAYS_CREDIT_ENDDATE         174
333                     AMT_CREDIT_DIV_AMT_GOODS_PRICE         174
222                            MIN_DAYS_CREDIT_ENDDATE         171
232                                 DAYS_SINCE_APPLIED         167
325    MIN_DAYS_ENTRY_PAYMENT_DIFF_DAYS_INSTALMENT_12M         162
349                    AMT_INCOME_TOTAL_DIV_DAYS_BIRTH         160
357                      AMT_ANNUITY_DIV_DAYS_EMPLOYED         159
324    MAX_DAYS_ENTRY_PAYMENT_DIFF_DAYS_INSTALMENT_12M         156
5                                          AMT_ANNUITY         151
109                               AVG_SYNTH_TARGET_12M         150
356                         AMT_ANNUITY_DIV_DAYS_BIRTH         149
125                    MIN_PREV_AMT_CREDIT_DIV_ANNUITY         148
169                                   MAX_SYNTH_TARGET         148
182                          MAX_BUREAU_UTILIZATION_6M         145
311                                   MIN_PAYMENT_SIZE         144
249                               TOTAL_AMT_CREDIT_SUM         139
224                            SUM_DAYS_CREDIT_ENDDATE         137
166                                   AVG_SYNTH_TARGET         136
309                                   MAX_PAYMENT_SIZE         136
359              DAYS_REGISTRATION_DIV_DAYS_ID_PUBLISH         135
344                   AVG_PAYMENT_SIZE_DIV_AMT_ANNUITY         134
341  DAYS_EMPLOYED_PLUS_DAYS_REGISTRATION_PLUS_DAYS...         133
233                            SUM_INVERSE_DAYS_CREDIT         131
342              AVG_PAYMENT_SIZE_DIV_AMT_INCOME_TOTAL         129
223                            MAX_DAYS_CREDIT_ENDDATE         127
313                                        SUM_PAYMENT         127
183                         MAX_BUREAU_UTILIZATION_12M         126
337                 AMT_CREDIT_DIV_AVG_PREV_REQ_AMOUNT         126
146                 AVG_PREV_RATE_DOWNPAYMENT_WEIGHTED         124
334                         AMT_CREDIT_DIV_SUM_PAYMENT         123
299                               MAX_PAYMENT_SIZE_12M         123
149                          AVG_PREV_RATE_DOWNPAYMENT         123
151                             MAX_PREV_PROP_APPROVED         123
321                            SUM_PAYMENT_DIFF_6M_12M         122
177  SUM_AMT_CREDIT_SUM_DEBT_DIV_DAYS_CREDIT_ENDDAT...         122
335               AMT_GOODS_PRICE_DIV_AMT_INCOME_TOTAL         122
353                         OWN_CAR_AGE_DIV_DAYS_BIRTH         122
245                             MAX_DAYS_CREDIT_UPDATE         120
29                                        EXT_SOURCE_1         120

time: 11.8 ms

#### Average importance over non-zero importance features

In [71]:
int(np.nanmean(var_imp["Importance"].where(var_imp["Importance"] > 0)))

46

time: 4.81 ms

#### Importance of selected features

In [72]:
features = ["MIN_PREV_PROP_APPROVED_12M"]

var_imp[var_imp["Feature"].isin(features)]

                        Feature  Importance
108  MIN_PREV_PROP_APPROVED_12M          63

time: 11.3 ms

#### Features with zero importance

In [73]:
var_imp.query("Importance == 0")

                                 Feature  Importance
14                        FLAG_EMP_PHONE           0
444       WEEKDAY_APPR_PROCESS_START_nan           0
392           NAME_INCOME_TYPE_Pensioner           0
497  ORGANIZATION_TYPE_Transport:_type_1           0
394             NAME_INCOME_TYPE_Student           0
85                       FLAG_DOCUMENT_7           0
395          NAME_INCOME_TYPE_Unemployed           0
397                 NAME_INCOME_TYPE_nan           0
502                ORGANIZATION_TYPE_XNA           0
503                ORGANIZATION_TYPE_nan           0
82                       FLAG_DOCUMENT_4           0
417                NAME_HOUSING_TYPE_nan           0
80                       FLAG_DOCUMENT_2           0
520               WALLSMATERIAL_MODE_nan           0
403              NAME_EDUCATION_TYPE_nan           0
494      ORGANIZATION_TYPE_Trade:_type_5           0
408           NAME_FAMILY_STATUS_Unknown           0
511        HOUSETYPE_MODE_terraced_house           0
512                   HOUSETYPE_MODE_nan           0
410               NAME_FAMILY_STATUS_nan           0
13                            FLAG_MOBIL           0
515        WALLSMATERIAL_MODE_Monolithic           0
495      ORGANIZATION_TYPE_Trade:_type_6           0
460  ORGANIZATION_TYPE_Industry:_type_10           0
493      ORGANIZATION_TYPE_Trade:_type_4           0
190       BUREAU_UTILIZATION_DIFF_6M_12M           0
463  ORGANIZATION_TYPE_Industry:_type_13           0
383      NAME_TYPE_SUITE_Group_of_people           0
380                      CODE_GENDER_nan           0
379                      CODE_GENDER_XNA           0
376               NAME_CONTRACT_TYPE_nan           0
468   ORGANIZATION_TYPE_Industry:_type_6           0
375   NAME_CONTRACT_TYPE_Revolving_loans           0
470   ORGANIZATION_TYPE_Industry:_type_8           0
472          ORGANIZATION_TYPE_Insurance           0
455          ORGANIZATION_TYPE_Emergency           0
220               SUM_LEN_BUREAU_BALANCE           0
193         BUREAU_SUM_DEBT_DIFF_12M_24M           0
100           AMT_REQ_CREDIT_BUREAU_HOUR           0
491      ORGANIZATION_TYPE_Trade:_type_2           0
453            ORGANIZATION_TYPE_Culture           0
98                      FLAG_DOCUMENT_20           0
97                      FLAG_DOCUMENT_19           0
482           ORGANIZATION_TYPE_Religion           0
95                      FLAG_DOCUMENT_17           0
94                      FLAG_DOCUMENT_16           0
93                      FLAG_DOCUMENT_15           0
92                      FLAG_DOCUMENT_14           0
389         NAME_INCOME_TYPE_Businessman           0
451           ORGANIZATION_TYPE_Cleaning           0
391     NAME_INCOME_TYPE_Maternity_leave           0
90                      FLAG_DOCUMENT_12           0
88                      FLAG_DOCUMENT_10           0

time: 18.6 ms

#### LightGBM CV

In [ ]:
params = {"n_estimators": 20000, 
          "num_leaves": 113, 
          "max_depth": 10,
          "learning_rate": 0.0025, 
          "subsample": 0.5, 
          "colsample_bytree": 0.5, 
          "reg_lambda": 0.8}

lgb_data = lgb.Dataset(data=df[lgb_cols], 
                       label=y)

cv_result = lgb.cv(params=params, 
                   train_set=lgb_data, 
                   nfold=5, 
                   metrics="auc", 
                   early_stopping_rounds=200, 
                   stratified=True, 
                   shuffle=True, 
                   verbose_eval=100, 
                   show_stdv=True, 
                   seed=123)

cv_result = pd.DataFrame(cv_result)

/Users/dsaxton/anaconda3/lib/python3.6/site-packages/lightgbm/engine.py:390: UserWarning: Found `n_estimators` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))

[100]	cv_agg's auc: 0.759103 + 0.00282096
[200]	cv_agg's auc: 0.761337 + 0.00290497
[300]	cv_agg's auc: 0.76339 + 0.00288977
[400]	cv_agg's auc: 0.765298 + 0.00291369
[500]	cv_agg's auc: 0.766814 + 0.00288384
[600]	cv_agg's auc: 0.768504 + 0.00276155
[700]	cv_agg's auc: 0.770003 + 0.00265982

In [ ]:
cv_result.tail()

#### Fit chosen model

In [13]:
lgb_model = lgb.LGBMClassifier(n_estimators=11000, 
                         num_leaves=113, 
                         learning_rate=0.0025, 
                         subsample=0.5, 
                         colsample_bytree=0.5, 
                         reg_lambda=0.8)

lgb_model.fit(df[lgb_cols], y)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=0.5,
        learning_rate=0.005, max_depth=-1, min_child_samples=20,
        min_child_weight=0.001, min_split_gain=0.0, n_estimators=5045,
        n_jobs=-1, num_leaves=113, objective=None, random_state=None,
        reg_alpha=0.0, reg_lambda=0.9, silent=True, subsample=0.5,
        subsample_for_bin=200000, subsample_freq=1)

time: 18min 40s

#### Score test data and generate submission

In [14]:
df = pd.read_csv(path + "preprocessed_test.csv")

time: 3.44 s

In [15]:
df["NAME_INCOME_TYPE_Maternity_leave"] = 0

time: 12.4 ms

In [16]:
submission = pd.DataFrame({"SK_ID_CURR": df["SK_ID_CURR"], 
                           "TARGET": lgb_model.predict_proba(df[lgb_cols])[:,1]})

submission.head()

   SK_ID_CURR    TARGET
0      100001  0.028409
1      100005  0.131907
2      100013  0.022533
3      100028  0.034576
4      100038  0.182258

time: 11.2 s

In [17]:
submission.to_csv(path + "submission.csv", index=False)

time: 163 ms